<body>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-item color="primary">
        <ion-icon name="chevron-back" routerLink="/home"></ion-icon><ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Azul Gonzalez</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>27/9/22</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      $1700
      <H3>Hasta 12/10</H3>
    </ion-card-content>
    <p>Adeuda</p>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>15/7/22</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      $3200
      <H3>Hasta 12/10</H3>
    </ion-card-content>
    <p>Adeuda</p>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>25/4/22</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      $2700
      <H3>Hasta 12/10</H3>
    </ion-card-content>
    <p>Adeuda</p>
  </ion-card>
</body>