<body>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-icon name="chevron-back" routerLink="/home"></ion-icon>
      <ion-title class="intro">Inicie sesion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Login</h3>
        </div>
        <div padding>
            <!-- Label Nombre Usuario -->
          <ion-item>
            <ion-input type="text" id="float-input" pInputText formControlName="nombreusuario"></ion-input>
          </ion-item>
            <!-- Label Contraseña -->
          <ion-item>
            <ion-input type="password" id="float-input" pInputText formControlName="contrasena"></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button size="large"id="boton" pButton pRipple type="submit" type="submit" (click)="verificarUsuario()" expand="block">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>            
  

</body>