body{
  background-image: url("/assets/img/fondo.png")!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
div{
  padding-top: 130%;
}